POSTGRES_DB=tessera
POSTGRES_USER=tessera
POSTGRES_PASSWORD=tessera-dev-secret
POSTGRES_PORT=5432

MINIO_ROOT_USER=tessera
MINIO_ROOT_PASSWORD=tessera-dev-secret
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
